.container{
    display: flex;
    border: 1px solid var(--f-color);
    border-radius: 30px;
    padding: 3px 2px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.icon{
    font-size: 18px;
}

.switcher{
    position: absolute;
    aspect-ratio: 1/1;
    width: 25px;
    background-color: var(--f-color);
    border-radius: 50%;
}
